@charset "UTF-8";
.disappeared {
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.inline {
  display: inline-block;
  vertical-align: top; }

.center-wrapper {
  margin: 15px auto;
  text-align: center; }

.right-wrapper {
  margin: 15px;
  text-align: right; }

.no-result {
  letter-spacing: normal; }

.fixed {
  position: fixed; }

.result-message {
  letter-spacing: normal; }

@keyframes clip {
  0% {
    clip-path: polygon(100% 50%, 84.7005701481% 54.5684167277%, 91.0518476173% 60.9998094169%, 82.3357836379% 63.3939201328%, 93.3012701892% 75%, 77.7673669102% 71.3066500153%, 80.0520382004% 80.0520382004%, 71.3066500153% 77.7673669102%, 75% 93.3012701892%, 63.3939201328% 82.3357836379%, 60.9998094169% 91.0518476173%, 54.5684167277% 84.7005701481%, 50% 100%, 45.4315832723% 84.7005701481%, 39.0001905831% 91.0518476173%, 36.6060798672% 82.3357836379%, 25% 93.3012701892%, 28.6933499847% 77.7673669102%, 19.9479617996% 80.0520382004%, 22.2326330898% 71.3066500153%, 6.6987298108% 75%, 17.6642163621% 63.3939201328%, 8.9481523827% 60.9998094169%, 15.2994298519% 54.5684167277%, 0% 50%, 15.2994298519% 45.4315832723%, 8.9481523827% 39.0001905831%, 17.6642163621% 36.6060798672%, 6.6987298108% 25%, 22.2326330898% 28.6933499847%, 19.9479617996% 19.9479617996%, 28.6933499847% 22.2326330898%, 25% 6.6987298108%, 36.6060798672% 17.6642163621%, 39.0001905831% 8.9481523827%, 45.4315832723% 15.2994298519%, 50% 0%, 54.5684167277% 15.2994298519%, 60.9998094169% 8.9481523827%, 63.3939201328% 17.6642163621%, 75% 6.6987298108%, 71.3066500153% 22.2326330898%, 80.0520382004% 19.9479617996%, 77.7673669102% 28.6933499847%, 93.3012701892% 25%, 82.3357836379% 36.6060798672%, 91.0518476173% 39.0001905831%, 84.7005701481% 45.4315832723%);
    -webkit-clip-path: polygon(100% 50%, 84.7005701481% 54.5684167277%, 91.0518476173% 60.9998094169%, 82.3357836379% 63.3939201328%, 93.3012701892% 75%, 77.7673669102% 71.3066500153%, 80.0520382004% 80.0520382004%, 71.3066500153% 77.7673669102%, 75% 93.3012701892%, 63.3939201328% 82.3357836379%, 60.9998094169% 91.0518476173%, 54.5684167277% 84.7005701481%, 50% 100%, 45.4315832723% 84.7005701481%, 39.0001905831% 91.0518476173%, 36.6060798672% 82.3357836379%, 25% 93.3012701892%, 28.6933499847% 77.7673669102%, 19.9479617996% 80.0520382004%, 22.2326330898% 71.3066500153%, 6.6987298108% 75%, 17.6642163621% 63.3939201328%, 8.9481523827% 60.9998094169%, 15.2994298519% 54.5684167277%, 0% 50%, 15.2994298519% 45.4315832723%, 8.9481523827% 39.0001905831%, 17.6642163621% 36.6060798672%, 6.6987298108% 25%, 22.2326330898% 28.6933499847%, 19.9479617996% 19.9479617996%, 28.6933499847% 22.2326330898%, 25% 6.6987298108%, 36.6060798672% 17.6642163621%, 39.0001905831% 8.9481523827%, 45.4315832723% 15.2994298519%, 50% 0%, 54.5684167277% 15.2994298519%, 60.9998094169% 8.9481523827%, 63.3939201328% 17.6642163621%, 75% 6.6987298108%, 71.3066500153% 22.2326330898%, 80.0520382004% 19.9479617996%, 77.7673669102% 28.6933499847%, 93.3012701892% 25%, 82.3357836379% 36.6060798672%, 91.0518476173% 39.0001905831%, 84.7005701481% 45.4315832723%); }
  50% {
    clip-path: polygon(84.7005701481% 54.5684167277%, 91.0518476173% 60.9998094169%, 82.3357836379% 63.3939201328%, 93.3012701892% 75%, 77.7673669102% 71.3066500153%, 80.0520382004% 80.0520382004%, 71.3066500153% 77.7673669102%, 75% 93.3012701892%, 63.3939201328% 82.3357836379%, 60.9998094169% 91.0518476173%, 54.5684167277% 84.7005701481%, 50% 100%, 45.4315832723% 84.7005701481%, 39.0001905831% 91.0518476173%, 36.6060798672% 82.3357836379%, 25% 93.3012701892%, 28.6933499847% 77.7673669102%, 19.9479617996% 80.0520382004%, 22.2326330898% 71.3066500153%, 6.6987298108% 75%, 17.6642163621% 63.3939201328%, 8.9481523827% 60.9998094169%, 15.2994298519% 54.5684167277%, 0% 50%, 15.2994298519% 45.4315832723%, 8.9481523827% 39.0001905831%, 17.6642163621% 36.6060798672%, 6.6987298108% 25%, 22.2326330898% 28.6933499847%, 19.9479617996% 19.9479617996%, 28.6933499847% 22.2326330898%, 25% 6.6987298108%, 36.6060798672% 17.6642163621%, 39.0001905831% 8.9481523827%, 45.4315832723% 15.2994298519%, 50% 0%, 54.5684167277% 15.2994298519%, 60.9998094169% 8.9481523827%, 63.3939201328% 17.6642163621%, 75% 6.6987298108%, 71.3066500153% 22.2326330898%, 80.0520382004% 19.9479617996%, 77.7673669102% 28.6933499847%, 93.3012701892% 25%, 82.3357836379% 36.6060798672%, 91.0518476173% 39.0001905831%, 84.7005701481% 45.4315832723%, 100% 50%);
    -webkit-clip-path: polygon(84.7005701481% 54.5684167277%, 91.0518476173% 60.9998094169%, 82.3357836379% 63.3939201328%, 93.3012701892% 75%, 77.7673669102% 71.3066500153%, 80.0520382004% 80.0520382004%, 71.3066500153% 77.7673669102%, 75% 93.3012701892%, 63.3939201328% 82.3357836379%, 60.9998094169% 91.0518476173%, 54.5684167277% 84.7005701481%, 50% 100%, 45.4315832723% 84.7005701481%, 39.0001905831% 91.0518476173%, 36.6060798672% 82.3357836379%, 25% 93.3012701892%, 28.6933499847% 77.7673669102%, 19.9479617996% 80.0520382004%, 22.2326330898% 71.3066500153%, 6.6987298108% 75%, 17.6642163621% 63.3939201328%, 8.9481523827% 60.9998094169%, 15.2994298519% 54.5684167277%, 0% 50%, 15.2994298519% 45.4315832723%, 8.9481523827% 39.0001905831%, 17.6642163621% 36.6060798672%, 6.6987298108% 25%, 22.2326330898% 28.6933499847%, 19.9479617996% 19.9479617996%, 28.6933499847% 22.2326330898%, 25% 6.6987298108%, 36.6060798672% 17.6642163621%, 39.0001905831% 8.9481523827%, 45.4315832723% 15.2994298519%, 50% 0%, 54.5684167277% 15.2994298519%, 60.9998094169% 8.9481523827%, 63.3939201328% 17.6642163621%, 75% 6.6987298108%, 71.3066500153% 22.2326330898%, 80.0520382004% 19.9479617996%, 77.7673669102% 28.6933499847%, 93.3012701892% 25%, 82.3357836379% 36.6060798672%, 91.0518476173% 39.0001905831%, 84.7005701481% 45.4315832723%, 100% 50%); }
  100% {
    clip-path: polygon(91.0518476173% 60.9998094169%, 82.3357836379% 63.3939201328%, 93.3012701892% 75%, 77.7673669102% 71.3066500153%, 80.0520382004% 80.0520382004%, 71.3066500153% 77.7673669102%, 75% 93.3012701892%, 63.3939201328% 82.3357836379%, 60.9998094169% 91.0518476173%, 54.5684167277% 84.7005701481%, 50% 100%, 45.4315832723% 84.7005701481%, 39.0001905831% 91.0518476173%, 36.6060798672% 82.3357836379%, 25% 93.3012701892%, 28.6933499847% 77.7673669102%, 19.9479617996% 80.0520382004%, 22.2326330898% 71.3066500153%, 6.6987298108% 75%, 17.6642163621% 63.3939201328%, 8.9481523827% 60.9998094169%, 15.2994298519% 54.5684167277%, 0% 50%, 15.2994298519% 45.4315832723%, 8.9481523827% 39.0001905831%, 17.6642163621% 36.6060798672%, 6.6987298108% 25%, 22.2326330898% 28.6933499847%, 19.9479617996% 19.9479617996%, 28.6933499847% 22.2326330898%, 25% 6.6987298108%, 36.6060798672% 17.6642163621%, 39.0001905831% 8.9481523827%, 45.4315832723% 15.2994298519%, 50% 0%, 54.5684167277% 15.2994298519%, 60.9998094169% 8.9481523827%, 63.3939201328% 17.6642163621%, 75% 6.6987298108%, 71.3066500153% 22.2326330898%, 80.0520382004% 19.9479617996%, 77.7673669102% 28.6933499847%, 93.3012701892% 25%, 82.3357836379% 36.6060798672%, 91.0518476173% 39.0001905831%, 84.7005701481% 45.4315832723%, 100% 50%, 84.7005701481% 54.5684167277%);
    -webkit-clip-path: polygon(91.0518476173% 60.9998094169%, 82.3357836379% 63.3939201328%, 93.3012701892% 75%, 77.7673669102% 71.3066500153%, 80.0520382004% 80.0520382004%, 71.3066500153% 77.7673669102%, 75% 93.3012701892%, 63.3939201328% 82.3357836379%, 60.9998094169% 91.0518476173%, 54.5684167277% 84.7005701481%, 50% 100%, 45.4315832723% 84.7005701481%, 39.0001905831% 91.0518476173%, 36.6060798672% 82.3357836379%, 25% 93.3012701892%, 28.6933499847% 77.7673669102%, 19.9479617996% 80.0520382004%, 22.2326330898% 71.3066500153%, 6.6987298108% 75%, 17.6642163621% 63.3939201328%, 8.9481523827% 60.9998094169%, 15.2994298519% 54.5684167277%, 0% 50%, 15.2994298519% 45.4315832723%, 8.9481523827% 39.0001905831%, 17.6642163621% 36.6060798672%, 6.6987298108% 25%, 22.2326330898% 28.6933499847%, 19.9479617996% 19.9479617996%, 28.6933499847% 22.2326330898%, 25% 6.6987298108%, 36.6060798672% 17.6642163621%, 39.0001905831% 8.9481523827%, 45.4315832723% 15.2994298519%, 50% 0%, 54.5684167277% 15.2994298519%, 60.9998094169% 8.9481523827%, 63.3939201328% 17.6642163621%, 75% 6.6987298108%, 71.3066500153% 22.2326330898%, 80.0520382004% 19.9479617996%, 77.7673669102% 28.6933499847%, 93.3012701892% 25%, 82.3357836379% 36.6060798672%, 91.0518476173% 39.0001905831%, 84.7005701481% 45.4315832723%, 100% 50%, 84.7005701481% 54.5684167277%); } }
* {
  margin: 0;
  padding: 0; }

a {
  color: #a6780c; }

body {
  color: #e6aa05;
  font-family: "Lato", "游ゴシック", YuGothic, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS ゴシック", "MS Gothic", sans-serif;
  font-size: 1.12rem;
  letter-spacing: 1px;
  padding-top: 102px;
  padding-bottom: 200px; }

h2 {
  z-index: 2;
  position: relative;
  padding-top: 25px;
  padding-bottom: 120px;
  color: white;
  font-size: 2.8rem;
  letter-spacing: 2px;
  font-family: 'Baloo Chettan', cursive;
  text-shadow: #e6aa05 1px 1px 0px, #e6aa05 -1px 1px 0px, #e6aa05 1px -1px 0px, #e6aa05 -1px -1px 0px; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

.wall {
  zoom: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 102px;
  padding-bottom: 30px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8); }
  .wall:before, .wall:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  .wall:after {
    clear: both; }
  .wall .main-title {
    color: white;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 3px;
    font-family: 'Baloo Chettan', cursive;
    text-shadow: #e6aa05 3px 3px 0px, #e6aa05 -2px 2px 0px, #e6aa05 3px -3px 0px, #e6aa05 -2px -2px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 0; }
  .wall .wall-side {
    width: 45%;
    height: 102px;
    overflow: hidden;
    position: relative; }
    .wall .wall-side.wall-left {
      float: left; }
      .wall .wall-side.wall-left .wall-container {
        left: 0; }
        .wall .wall-side.wall-left .wall-container .wall-row .brick {
          float: left; }
    .wall .wall-side.wall-right {
      float: right; }
      .wall .wall-side.wall-right .wall-container {
        right: 0; }
        .wall .wall-side.wall-right .wall-container .wall-row .brick {
          float: right; }
    .wall .wall-side .wall-container {
      zoom: 1;
      position: absolute; }
      .wall .wall-side .wall-container:before, .wall .wall-side .wall-container:after {
        display: block;
        height: 0;
        visibility: hidden;
        content: "\0020"; }
      .wall .wall-side .wall-container:after {
        clear: both; }
      .wall .wall-side .wall-container .wall-row {
        zoom: 1;
        width: 100%;
        margin: 3px 0; }
        .wall .wall-side .wall-container .wall-row:before, .wall .wall-side .wall-container .wall-row:after {
          display: block;
          height: 0;
          visibility: hidden;
          content: "\0020"; }
        .wall .wall-side .wall-container .wall-row:after {
          clear: both; }
        .wall .wall-side .wall-container .wall-row .brick {
          display: block;
          width: 30.4px;
          height: 9.6px;
          border: 1px solid #e6aa05;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          margin: 0 1.5px;
          -webkit-transition: width .3s ease-in-out;
          -moz-transition: width .3s ease-in-out;
          -o-transition: width .3s ease-in-out;
          transition: width .3s ease-in-out; }
          .wall .wall-side .wall-container .wall-row .brick.brick-md {
            width: 24px;
            -webkit-transition: width .7s ease-in-out;
            -moz-transition: width .7s ease-in-out;
            -o-transition: width .7s ease-in-out;
            transition: width .7s ease-in-out; }
          .wall .wall-side .wall-container .wall-row .brick.brick-sm {
            width: 18.4px;
            -webkit-transition: width .8s ease-in-out;
            -moz-transition: width .8s ease-in-out;
            -o-transition: width .8s ease-in-out;
            transition: width .8s ease-in-out; }
          .wall .wall-side .wall-container .wall-row .brick.brick-sm {
            width: 8.8px; }
          .wall .wall-side .wall-container .wall-row .brick.brick-section-2 {
            width: 24.8px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-2.brick-md {
              width: 19px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-2.brick-sm {
              width: 13px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-2.brick-sm {
              width: 7px; }
          .wall .wall-side .wall-container .wall-row .brick.brick-section-3 {
            width: 28px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-3.brick-md {
              width: 23.2px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-3.brick-sm {
              width: 19.2px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-3.brick-sm {
              width: 9.6px; }
          .wall .wall-side .wall-container .wall-row .brick.brick-section-4 {
            width: 28.8px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-4.brick-md {
              width: 24px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-4.brick-sm {
              width: 20.8px; }
            .wall .wall-side .wall-container .wall-row .brick.brick-section-4.brick-sm {
              width: 16.8px; }

.navigation {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  text-align: center; }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: auto; }
    .navigation ul li {
      display: inline-block;
      margin: 0 4px; }
      .navigation ul li .btn-mode {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 6px 5px;
        font-weight: bold;
        color: #e6aa05;
        cursor: pointer; }
        .navigation ul li .btn-mode.active {
          background: #e6aa05;
          color: white; }

.section {
  width: 620px;
  margin: auto;
  margin-bottom: 160px;
  text-align: center;
  color: #e6aa05; }
  .section.section-1 .thumbnail {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    overflow: hidden; }
    .section.section-1 .thumbnail img {
      width: 100%; }
  .section.section-1 .description p {
    margin: 16px 0; }
  .section.section-1 .link-book {
    display: block;
    margin: auto;
    width: 300px; }
    .section.section-1 .link-book img {
      width: 100%; }
  .section.section-2 table {
    width: 100%; }
    .section.section-2 table tr {
      text-align: left; }
      .section.section-2 table tr th {
        width: 25%;
        padding-right: 10px;
        padding-bottom: 20px;
        vertical-align: top; }
      .section.section-2 table tr td {
        width: 75%;
        padding-bottom: 20px;
        vertical-align: top; }
  .section.section-3 table {
    width: 100%; }
    .section.section-3 table tr td {
      text-align: left;
      vertical-align: top;
      padding-bottom: 20px; }
      .section.section-3 table tr td:first-child {
        width: 15%; }
      .section.section-3 table tr td:nth-of-type(2) {
        width: 85%; }
  .section.section-4 table {
    width: 100%; }
    .section.section-4 table tr td {
      text-align: left;
      vertical-align: top;
      padding-bottom: 20px; }
      .section.section-4 table tr td:first-child {
        width: 15%; }
      .section.section-4 table tr td:nth-of-type(2) {
        width: 85%; }
  .section.section-4 .account-link img {
    width: 32px;
    height: 32px; }

@media screen and (max-width: 640px) {
  h2 {
    font-size: 2.5rem; }

  .wall {
    height: 60px;
    overflow: hidden; }
    .wall .main-title {
      font-size: 2.5rem; }

  .section {
    width: 100%;
    padding: 0 20px; }
    .section.section-2 table tr th {
      width: 25%;
      padding-bottom: 20px;
      vertical-align: top;
      font-size: 85%; }
    .section.section-2 table tr td {
      width: 75%;
      padding-bottom: 20px;
      vertical-align: top;
      font-size: 95%; }
    .section.section-3 table tr td {
      text-align: left;
      vertical-align: top;
      padding-bottom: 20px; }
      .section.section-3 table tr td:first-child {
        width: 20%;
        font-size: 85%; }
      .section.section-3 table tr td:nth-of-type(2) {
        width: 80%;
        font-size: 95%; } }
